*.[oa]
*.ppu
*.dcu
*.lps
*.compiled
*.bak*
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
bin/*
_bin/*
*.dsk
*.tvsconfig
Compilers/DelphiXE/*.res
Compilers/DelphiXE2/*.res
Compilers/DelphiXE3/*.res
