ti_About_16D                  BITMAP ".\\Buttons\\ti_About_16D.bmp"
ti_About_16H                  BITMAP ".\\Buttons\\ti_About_16H.bmp"
ti_About_16N                  BITMAP ".\\Buttons\\ti_About_16N.bmp"
ti_About_24D                  BITMAP ".\\Buttons\\ti_About_24D.bmp"
ti_About_24H                  BITMAP ".\\Buttons\\ti_About_24H.bmp"
ti_About_24N                  BITMAP ".\\Buttons\\ti_About_24N.bmp"
ti_ArrowDoubleLeftBlue_16D    BITMAP ".\\Buttons\\ti_ArrowDoubleLeftBlue_16D.bmp"
ti_ArrowDoubleLeftBlue_16H    BITMAP ".\\Buttons\\ti_ArrowDoubleLeftBlue_16H.bmp"
ti_ArrowDoubleLeftBlue_16N    BITMAP ".\\Buttons\\ti_ArrowDoubleLeftBlue_16N.bmp"
ti_ArrowDoubleRightBlue_16D   BITMAP ".\\Buttons\\ti_ArrowDoubleRightBlue_16D.bmp"
ti_ArrowDoubleRightBlue_16H   BITMAP ".\\Buttons\\ti_ArrowDoubleRightBlue_16H.bmp"
ti_ArrowDoubleRightBlue_16N   BITMAP ".\\Buttons\\ti_ArrowDoubleRightBlue_16N.bmp"
ti_ArrowLeftBlue_16D          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_16D.bmp"
ti_ArrowLeftBlue_16H          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_16H.bmp"
ti_ArrowLeftBlue_16N          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_16N.bmp"
ti_ArrowLeftBlue_24D          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_24D.bmp"
ti_ArrowLeftBlue_24H          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_24H.bmp"
ti_ArrowLeftBlue_24N          BITMAP ".\\Buttons\\ti_ArrowLeftBlue_24N.bmp"
ti_ArrowRightBlue_16D         BITMAP ".\\Buttons\\ti_ArrowRightBlue_16D.bmp"
ti_ArrowRightBlue_16H         BITMAP ".\\Buttons\\ti_ArrowRightBlue_16H.bmp"
ti_ArrowRightBlue_16N         BITMAP ".\\Buttons\\ti_ArrowRightBlue_16N.bmp"
ti_ArrowRightBlue_24D         BITMAP ".\\Buttons\\ti_ArrowRightBlue_24D.bmp"
ti_ArrowRightBlue_24H         BITMAP ".\\Buttons\\ti_ArrowRightBlue_24H.bmp"
ti_ArrowRightBlue_24N         BITMAP ".\\Buttons\\ti_ArrowRightBlue_24N.bmp"
ti_Browse_16D                 BITMAP ".\\Buttons\\ti_Browse_16D.bmp"
ti_Browse_16H                 BITMAP ".\\Buttons\\ti_Browse_16H.bmp"
ti_Browse_16N                 BITMAP ".\\Buttons\\ti_Browse_16N.bmp"
ti_CancelSave_16D             BITMAP ".\\Buttons\\ti_CancelSave_16D.bmp"
ti_CancelSave_16H             BITMAP ".\\Buttons\\ti_CancelSave_16H.bmp"
ti_CancelSave_16N             BITMAP ".\\Buttons\\ti_CancelSave_16N.bmp"
ti_CheckBoxChecked_16D        BITMAP ".\\Buttons\\ti_CheckBoxChecked_16D.bmp"
ti_CheckBoxChecked_16N        BITMAP ".\\Buttons\\ti_CheckBoxChecked_16N.bmp"
ti_CheckBoxChecked_16H        BITMAP ".\\Buttons\\ti_CheckBoxChecked_16H.bmp"
ti_CheckBoxPartChecked_16D    BITMAP ".\\Buttons\\ti_CheckBoxPartChecked_16D.bmp"
ti_CheckBoxPartChecked_16N    BITMAP ".\\Buttons\\ti_CheckBoxPartChecked_16N.bmp"
ti_CheckBoxUnChecked_16D      BITMAP ".\\Buttons\\ti_CheckBoxUnChecked_16D.bmp"
ti_CheckBoxUnChecked_16N      BITMAP ".\\Buttons\\ti_CheckBoxUnChecked_16N.bmp"
ti_CheckBoxUnChecked_16H      BITMAP ".\\Buttons\\ti_CheckBoxUnChecked_16H.bmp"
ti_CloseWindow_16D            BITMAP ".\\Buttons\\ti_CloseWindow_16D.bmp"
ti_CloseWindow_16H            BITMAP ".\\Buttons\\ti_CloseWindow_16H.bmp"
ti_CloseWindow_16N            BITMAP ".\\Buttons\\ti_CloseWindow_16N.bmp"
ti_CloseWindow_24D            BITMAP ".\\Buttons\\ti_CloseWindow_24D.bmp"
ti_CloseWindow_24H            BITMAP ".\\Buttons\\ti_CloseWindow_24H.bmp"
ti_CloseWindow_24N            BITMAP ".\\Buttons\\ti_CloseWindow_24N.bmp"
ti_Copy1Left_16D              BITMAP ".\\Buttons\\ti_Copy1Left_16D.bmp"
ti_Copy1Left_16H              BITMAP ".\\Buttons\\ti_Copy1Left_16H.bmp"
ti_Copy1Left_16N              BITMAP ".\\Buttons\\ti_Copy1Left_16N.bmp"
ti_Copy1Right_16D             BITMAP ".\\Buttons\\ti_Copy1Right_16D.bmp"
ti_Copy1Right_16H             BITMAP ".\\Buttons\\ti_Copy1Right_16H.bmp"
ti_Copy1Right_16N             BITMAP ".\\Buttons\\ti_Copy1Right_16N.bmp"
ti_CopyAllBelowLeft_16D       BITMAP ".\\Buttons\\ti_CopyAllBelowLeft_16D.bmp"
ti_CopyAllBelowLeft_16H       BITMAP ".\\Buttons\\ti_CopyAllBelowLeft_16H.bmp"
ti_CopyAllBelowLeft_16N       BITMAP ".\\Buttons\\ti_CopyAllBelowLeft_16N.bmp"
ti_CopyAllBelowRight_16D      BITMAP ".\\Buttons\\ti_CopyAllBelowRight_16D.bmp"
ti_CopyAllBelowRight_16H      BITMAP ".\\Buttons\\ti_CopyAllBelowRight_16H.bmp"
ti_CopyAllBelowRight_16N      BITMAP ".\\Buttons\\ti_CopyAllBelowRight_16N.bmp"
ti_CopyAllLeft_16D            BITMAP ".\\Buttons\\ti_CopyAllLeft_16D.bmp"
ti_CopyAllLeft_16H            BITMAP ".\\Buttons\\ti_CopyAllLeft_16H.bmp"
ti_CopyAllLeft_16N            BITMAP ".\\Buttons\\ti_CopyAllLeft_16N.bmp"
ti_CopyAllRight_16D           BITMAP ".\\Buttons\\ti_CopyAllRight_16D.bmp"
ti_CopyAllRight_16H           BITMAP ".\\Buttons\\ti_CopyAllRight_16H.bmp"
ti_CopyAllRight_16N           BITMAP ".\\Buttons\\ti_CopyAllRight_16N.bmp"
ti_CopyToClipboard_16D        BITMAP ".\\Buttons\\ti_CopyToClipboard_16D.BMP"
ti_CopyToClipboard_16H        BITMAP ".\\Buttons\\ti_CopyToClipboard_16H.BMP"
ti_CopyToClipboard_16N        BITMAP ".\\Buttons\\ti_CopyToClipboard_16N.BMP"
ti_Cross_16D                  BITMAP ".\\Buttons\\ti_Cross_16D.BMP"
ti_Cross_16H                  BITMAP ".\\Buttons\\ti_Cross_16H.BMP"
ti_Cross_16N                  BITMAP ".\\Buttons\\ti_Cross_16N.BMP"
ti_Cross_16ND                 BITMAP ".\\Buttons\\ti_Cross_16ND.BMP"
ti_CutToClipboard_16D         BITMAP ".\\Buttons\\ti_CutToClipboard_16D.BMP"
ti_CutToClipboard_16H         BITMAP ".\\Buttons\\ti_CutToClipboard_16H.BMP"
ti_CutToClipboard_16N         BITMAP ".\\Buttons\\ti_CutToClipboard_16N.BMP"
ti_Delete_08D                 BITMAP ".\\Buttons\\ti_Delete_08D.bmp"
ti_Delete_08H                 BITMAP ".\\Buttons\\ti_Delete_08H.bmp"
ti_Delete_08N                 BITMAP ".\\Buttons\\ti_Delete_08N.bmp"
ti_Delete_16D                 BITMAP ".\\Buttons\\ti_Delete_16D.bmp"
ti_Delete_16H                 BITMAP ".\\Buttons\\ti_Delete_16H.bmp"
ti_Delete_16N                 BITMAP ".\\Buttons\\ti_Delete_16N.bmp"
ti_Delete_24D                 BITMAP ".\\Buttons\\ti_Delete_24D.bmp"
ti_Delete_24H                 BITMAP ".\\Buttons\\ti_Delete_24H.bmp"
ti_Delete_24N                 BITMAP ".\\Buttons\\ti_Delete_24N.bmp"
ti_Deletex_16D                BITMAP ".\\Buttons\\ti_Deletex_16D.bmp"
ti_Deletex_16H                BITMAP ".\\Buttons\\ti_Deletex_16H.bmp"
ti_Deletex_16N                BITMAP ".\\Buttons\\ti_Deletex_16N.bmp"
ti_Deletex_24D                BITMAP ".\\Buttons\\ti_Deletex_24D.bmp"
ti_Deletex_24H                BITMAP ".\\Buttons\\ti_Deletex_24H.bmp"
ti_Deletex_24N                BITMAP ".\\Buttons\\ti_Deletex_24N.bmp"
ti_Edit_08D                   BITMAP ".\\Buttons\\ti_Edit_08D.BMP"
ti_Edit_08H                   BITMAP ".\\Buttons\\ti_Edit_08H.BMP"
ti_Edit_08N                   BITMAP ".\\Buttons\\ti_Edit_08N.BMP"
ti_Edit_16D                   BITMAP ".\\Buttons\\ti_Edit_16D.BMP"
ti_Edit_16H                   BITMAP ".\\Buttons\\ti_Edit_16H.BMP"
ti_Edit_16N                   BITMAP ".\\Buttons\\ti_Edit_16N.BMP"
ti_Edit_24D                   BITMAP ".\\Buttons\\ti_Edit_24D.BMP"
ti_Edit_24H                   BITMAP ".\\Buttons\\ti_Edit_24H.BMP"
ti_Edit_24N                   BITMAP ".\\Buttons\\ti_Edit_24N.BMP"
ti_Execute_16D                BITMAP ".\\Buttons\\ti_Execute_16D.BMP"
ti_Execute_16H                BITMAP ".\\Buttons\\ti_Execute_16H.BMP"
ti_Execute_16N                BITMAP ".\\Buttons\\ti_Execute_16N.BMP"
ti_Exit_16D                   BITMAP ".\\Buttons\\ti_Exit_16D.bmp"
ti_Exit_16H                   BITMAP ".\\Buttons\\ti_Exit_16H.bmp"
ti_Exit_16N                   BITMAP ".\\Buttons\\ti_Exit_16N.bmp"
ti_Exit_24D                   BITMAP ".\\Buttons\\ti_Exit_24D.bmp"
ti_Exit_24H                   BITMAP ".\\Buttons\\ti_Exit_24H.bmp"
ti_Exit_24N                   BITMAP ".\\Buttons\\ti_Exit_24N.bmp"
ti_Export_16D                 BITMAP ".\\Buttons\\ti_Export_16D.BMP"
ti_Export_16H                 BITMAP ".\\Buttons\\ti_Export_16H.BMP"
ti_Export_16N                 BITMAP ".\\Buttons\\ti_Export_16N.BMP"
ti_ExportToCSV_16D            BITMAP ".\\Buttons\\ti_ExportToCSV_16D.BMP"
ti_ExportToCSV_16H            BITMAP ".\\Buttons\\ti_ExportToCSV_16H.BMP"
ti_ExportToCSV_16N            BITMAP ".\\Buttons\\ti_ExportToCSV_16N.BMP"
ti_ExportToHTML_16D           BITMAP ".\\Buttons\\ti_ExportToHTML_16D.BMP"
ti_ExportToHTML_16H           BITMAP ".\\Buttons\\ti_ExportToHTML_16H.BMP"
ti_ExportToHTML_16N           BITMAP ".\\Buttons\\ti_ExportToHTML_16N.BMP"
ti_FolderOpen_16D             BITMAP ".\\Buttons\\ti_FolderOpen_16D.bmp"
ti_FolderOpen_16H             BITMAP ".\\Buttons\\ti_FolderOpen_16H.bmp"
ti_FolderOpen_16N             BITMAP ".\\Buttons\\ti_FolderOpen_16N.bmp"
ti_FileOpen_16D               BITMAP ".\\Buttons\\ti_FileOpen_16D.bmp"
ti_FileOpen_16H               BITMAP ".\\Buttons\\ti_FileOpen_16H.bmp"
ti_FileOpen_16N               BITMAP ".\\Buttons\\ti_FileOpen_16N.bmp"
ti_Find_16D                   BITMAP ".\\Buttons\\ti_Find_16D.BMP"
ti_Find_16H                   BITMAP ".\\Buttons\\ti_Find_16H.BMP"
ti_Find_16N                   BITMAP ".\\Buttons\\ti_Find_16N.BMP"
ti_FindNext_16D               BITMAP ".\\Buttons\\ti_FindNext_16D.BMP"
ti_FindNext_16H               BITMAP ".\\Buttons\\ti_FindNext_16H.BMP"
ti_FindNext_16N               BITMAP ".\\Buttons\\ti_FindNext_16N.BMP"
ti_FindPrevious_16D           BITMAP ".\\Buttons\\ti_FindPrevious_16D.BMP"
ti_FindPrevious_16H           BITMAP ".\\Buttons\\ti_FindPrevious_16H.BMP"
ti_FindPrevious_16N           BITMAP ".\\Buttons\\ti_FindPrevious_16N.BMP"
ti_FullScreen_16D             BITMAP ".\\Buttons\\ti_FullScreen_16D.bmp"
ti_FullScreen_16H             BITMAP ".\\Buttons\\ti_FullScreen_16H.bmp"
ti_FullScreen_16N             BITMAP ".\\Buttons\\ti_FullScreen_16N.bmp"
ti_GoTo_16D                   BITMAP ".\\Buttons\\ti_GoTo_16D.bmp"
ti_GoTo_16H                   BITMAP ".\\Buttons\\ti_GoTo_16H.bmp"
ti_GoTo_16N                   BITMAP ".\\Buttons\\ti_GoTo_16N.bmp"
ti_GraphBar_16D               BITMAP ".\\Buttons\\ti_GraphBar_16D.bmp"
ti_GraphBar_16H               BITMAP ".\\Buttons\\ti_GraphBar_16H.bmp"
ti_GraphBar_16N               BITMAP ".\\Buttons\\ti_GraphBar_16N.bmp"
ti_GraphLine_16D              BITMAP ".\\Buttons\\ti_GraphLine_16D.bmp"
ti_GraphLine_16H              BITMAP ".\\Buttons\\ti_GraphLine_16H.bmp"
ti_GraphLine_16N              BITMAP ".\\Buttons\\ti_GraphLine_16N.bmp"
ti_Help_16D                   BITMAP ".\\Buttons\\ti_Help_16D.bmp"
ti_Help_16H                   BITMAP ".\\Buttons\\ti_Help_16H.bmp"
ti_Help_16N                   BITMAP ".\\Buttons\\ti_Help_16N.bmp"
ti_Help_24D                   BITMAP ".\\Buttons\\ti_Help_24D.bmp"
ti_Help_24H                   BITMAP ".\\Buttons\\ti_Help_24H.bmp"
ti_Help_24N                   BITMAP ".\\Buttons\\ti_Help_24N.bmp"
ti_Help_32D                   BITMAP ".\\Buttons\\ti_Help_32D.bmp"
ti_Help_32H                   BITMAP ".\\Buttons\\ti_Help_32H.bmp"
ti_Help_32N                   BITMAP ".\\Buttons\\ti_Help_32N.bmp"
ti_Insert_08D                 BITMAP ".\\Buttons\\ti_Insert_08D.bmp"
ti_Insert_08H                 BITMAP ".\\Buttons\\ti_Insert_08H.bmp"
ti_Insert_08N                 BITMAP ".\\Buttons\\ti_Insert_08N.bmp"
ti_Insert_16D                 BITMAP ".\\Buttons\\ti_Insert_16D.bmp"
ti_Insert_16H                 BITMAP ".\\Buttons\\ti_Insert_16H.bmp"
ti_Insert_16N                 BITMAP ".\\Buttons\\ti_Insert_16N.bmp"
ti_Insert_24D                 BITMAP ".\\Buttons\\ti_Insert_24D.bmp"
ti_Insert_24H                 BITMAP ".\\Buttons\\ti_Insert_24H.bmp"
ti_Insert_24N                 BITMAP ".\\Buttons\\ti_Insert_24N.bmp"
ti_MAXIMIZE_16D               BITMAP ".\\Buttons\\ti_MAXIMIZE_16D.BMP"
ti_MAXIMIZE_16H               BITMAP ".\\Buttons\\ti_MAXIMIZE_16H.BMP"
ti_MAXIMIZE_16N               BITMAP ".\\Buttons\\ti_MAXIMIZE_16N.BMP"
ti_MoveDown_16D               BITMAP ".\\Buttons\\ti_MoveDown_16D.bmp"
ti_MoveDown_16H               BITMAP ".\\Buttons\\ti_MoveDown_16H.bmp"
ti_MoveDown_16N               BITMAP ".\\Buttons\\ti_MoveDown_16N.bmp" 
ti_MoveUp_16D                 BITMAP ".\\Buttons\\ti_MoveUp_16D.bmp"
ti_MoveUp_16H                 BITMAP ".\\Buttons\\ti_MoveUp_16H.bmp"
ti_MoveUp_16N                 BITMAP ".\\Buttons\\ti_MoveUp_16N.bmp"
ti_NetworkTraffic_16D         RCDATA ".\\Buttons\\ti_NetworkTraffic_16D.gif"
ti_NetworkTraffic_16N         RCDATA ".\\Buttons\\ti_NetworkTraffic_16N.gif"
ti_OpenImage_16D              BITMAP ".\\Buttons\\ti_OpenImage_16D.bmp"
ti_OpenImage_16H              BITMAP ".\\Buttons\\ti_OpenImage_16H.bmp"
ti_OpenImage_16N              BITMAP ".\\Buttons\\ti_OpenImage_16N.bmp"
ti_PasteFromClipboard_16D     BITMAP ".\\Buttons\\ti_PasteFromClipboard_16D.BMP"
ti_PasteFromClipboard_16H     BITMAP ".\\Buttons\\ti_PasteFromClipboard_16H.BMP"
ti_PasteFromClipboard_16N     BITMAP ".\\Buttons\\ti_PasteFromClipboard_16N.BMP"
ti_Print_16D                  BITMAP ".\\Buttons\\ti_Print_16D.bmp"
ti_Print_16H                  BITMAP ".\\Buttons\\ti_Print_16H.bmp"
ti_Print_16N                  BITMAP ".\\Buttons\\ti_Print_16N.bmp"
ti_PrintSetup_16D             BITMAP ".\\Buttons\\ti_PrintSetup_16D.bmp"
ti_PrintSetup_16H             BITMAP ".\\Buttons\\ti_PrintSetup_16H.bmp"
ti_PrintSetup_16N             BITMAP ".\\Buttons\\ti_PrintSetup_16N.bmp"
ti_Query_16D                  BITMAP ".\\Buttons\\ti_Query_16D.BMP"
ti_Query_16H                  BITMAP ".\\Buttons\\ti_Query_16H.BMP"
ti_Query_16N                  BITMAP ".\\Buttons\\ti_Query_16N.BMP"
ti_RadioButtonChecked_16D     BITMAP ".\\Buttons\\ti_RadioButtonChecked_16D.bmp"  
ti_RadioButtonChecked_16N     BITMAP ".\\Buttons\\ti_RadioButtonChecked_16N.bmp"  
ti_RadioButtonUnChecked_16D   BITMAP ".\\Buttons\\ti_RadioButtonUnChecked_16D.bmp"
ti_RadioButtonUnChecked_16N   BITMAP ".\\Buttons\\ti_RadioButtonUnChecked_16N.bmp"
ti_ReDo_16D                   BITMAP ".\\Buttons\\ti_ReDo_16D.BMP"
ti_ReDo_16H                   BITMAP ".\\Buttons\\ti_ReDo_16H.BMP"
ti_ReDo_16N                   BITMAP ".\\Buttons\\ti_ReDo_16N.BMP"
ti_Refresh_16D                BITMAP ".\\Buttons\\ti_Refresh_16D.bmp"
ti_Refresh_16H                BITMAP ".\\Buttons\\ti_Refresh_16H.bmp"
ti_Refresh_16N                BITMAP ".\\Buttons\\ti_Refresh_16N.bmp"
ti_Save_16D                   BITMAP ".\\Buttons\\ti_Save_16D.bmp"
ti_Save_16H                   BITMAP ".\\Buttons\\ti_Save_16H.bmp"
ti_Save_16N                   BITMAP ".\\Buttons\\ti_Save_16N.bmp"
ti_Save_24D                   BITMAP ".\\Buttons\\ti_Save_24D.bmp"
ti_Save_24H                   BITMAP ".\\Buttons\\ti_Save_24H.bmp"
ti_Save_24N                   BITMAP ".\\Buttons\\ti_Save_24N.bmp"
ti_SaveAll_16D                BITMAP ".\\Buttons\\ti_SaveAll_16D.bmp"
ti_SaveAll_16H                BITMAP ".\\Buttons\\ti_SaveAll_16H.bmp"
ti_SaveAll_16N                BITMAP ".\\Buttons\\ti_SaveAll_16N.bmp"
ti_SelectCols_16D             BITMAP ".\\Buttons\\ti_SelectCols_16D.BMP"
ti_SelectCols_16H             BITMAP ".\\Buttons\\ti_SelectCols_16H.BMP"
ti_SelectCols_16N             BITMAP ".\\Buttons\\ti_SelectCols_16N.BMP"
ti_Sort_16D                   BITMAP ".\\Buttons\\ti_Sort_16D.BMP"
ti_Sort_16H                   BITMAP ".\\Buttons\\ti_Sort_16H.BMP"
ti_Sort_16N                   BITMAP ".\\Buttons\\ti_Sort_16N.BMP"
ti_Tick_16D                   BITMAP ".\\Buttons\\ti_Tick_16D.bmp"
ti_Tick_16H                   BITMAP ".\\Buttons\\ti_Tick_16H.bmp"
ti_Tick_16N                   BITMAP ".\\Buttons\\ti_Tick_16N.bmp"
ti_Tick_16ND                  BITMAP ".\\Buttons\\ti_Tick_16ND.bmp"
ti_Undo_16D                   BITMAP ".\\Buttons\\ti_Undo_16D.bmp"
ti_Undo_16H                   BITMAP ".\\Buttons\\ti_Undo_16H.bmp"
ti_Undo_16N                   BITMAP ".\\Buttons\\ti_Undo_16N.bmp"
ti_View_08D                   BITMAP ".\\Buttons\\ti_View_08D.bmp"
ti_View_08H                   BITMAP ".\\Buttons\\ti_View_08H.bmp"
ti_View_08N                   BITMAP ".\\Buttons\\ti_View_08N.bmp"
ti_View_16D                   BITMAP ".\\Buttons\\ti_View_16D.bmp"
ti_View_16H                   BITMAP ".\\Buttons\\ti_View_16H.bmp"
ti_View_16N                   BITMAP ".\\Buttons\\ti_View_16N.bmp"
ti_View_24D                   BITMAP ".\\Buttons\\ti_View_24D.bmp"
ti_View_24H                   BITMAP ".\\Buttons\\ti_View_24H.bmp"
ti_View_24N                   BITMAP ".\\Buttons\\ti_View_24N.bmp"
ti_WhatsThis_16D              BITMAP ".\\Buttons\\ti_WhatsThis_16D.bmp"
ti_WhatsThis_16H              BITMAP ".\\Buttons\\ti_WhatsThis_16H.bmp"
ti_WhatsThis_16N              BITMAP ".\\Buttons\\ti_WhatsThis_16N.bmp"
ti_WhatsThis_24D              BITMAP ".\\Buttons\\ti_WhatsThis_24D.bmp"
ti_WhatsThis_24H              BITMAP ".\\Buttons\\ti_WhatsThis_24H.bmp"
ti_WhatsThis_24N              BITMAP ".\\Buttons\\ti_WhatsThis_24N.bmp"
ti_WorkList_16D               BITMAP ".\\Buttons\\ti_WorkList_16D.bmp"
ti_WorkList_16H               BITMAP ".\\Buttons\\ti_WorkList_16H.bmp"
ti_WorkList_16N               BITMAP ".\\Buttons\\ti_WorkList_16N.bmp"
ti_WorkList_24D               BITMAP ".\\Buttons\\ti_WorkList_24D.bmp"
ti_WorkList_24H               BITMAP ".\\Buttons\\ti_WorkList_24H.bmp"
ti_WorkList_24N               BITMAP ".\\Buttons\\ti_WorkList_24N.bmp"
ti_ZOOMIN_16D                 BITMAP ".\\Buttons\\ti_ZOOMIN_16D.BMP"
ti_ZOOMIN_16H                 BITMAP ".\\Buttons\\ti_ZOOMIN_16H.BMP"
ti_ZOOMIN_16N                 BITMAP ".\\Buttons\\ti_ZOOMIN_16N.BMP"
ti_ZOOMOUT_16D                BITMAP ".\\Buttons\\ti_ZOOMOUT_16D.BMP"
ti_ZOOMOUT_16H                BITMAP ".\\Buttons\\ti_ZOOMOUT_16H.BMP"
ti_ZOOMOUT_16N                BITMAP ".\\Buttons\\ti_ZOOMOUT_16N.BMP"
ti_ZoomDetail_16D             BITMAP ".\\Buttons\\ti_ZoomDetail_16D.BMP"
ti_ZoomDetail_16H             BITMAP ".\\Buttons\\ti_ZoomDetail_16H.BMP"
ti_ZoomDetail_16N             BITMAP ".\\Buttons\\ti_ZoomDetail_16N.BMP"
ti_ZoomManual_16D             BITMAP ".\\Buttons\\ti_ZoomManual_16D.BMP"
ti_ZoomManual_16H             BITMAP ".\\Buttons\\ti_ZoomManual_16H.BMP"
ti_ZoomManual_16N             BITMAP ".\\Buttons\\ti_ZoomManual_16N.BMP"

