[PerLayersToTest]
NonPersistent=1
CSV=1
TAB=1
FBL=0
XMLLight=1
Sqldb_IB=1
Sqldb_PQ=0

[MachineSettings]
ComputerName=saturn
TempDir=/tmp
UserName=graemeg
ApplicationName=dunit2_fpc_textrunner
AppDataDirPrivate=/home/graemeg/.config/dunit2_fpc_textrunner
AppDataDirPublic=/etc/dunit2_fpc_textrunner

[DB_CSV]
DBName=/opt/dailybuilds/data/testcsv

[DB_TAB]
DBName=/opt/dailybuilds/data/testtab

[DB_XMLLight]
DBName=/opt/dailybuilds/data/testxmllight

[DB_FBL]
DBName=127.0.0.1|/opt/dailybuilds/data/demo_fbl.fdb
Username=sysdba
Password=masterkey

[DB_SQLDB_IB]
DBName=127.0.0.1:/opt/dailybuilds/data/sqldb_ib_dunit2.fdb
Username=sysdba
Password=masterkey

[DB_SQLDB_PQ]
DBName=tiopf
Username=graemeg
Password=mypassword
